.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th.asc::after {
  content: " ▲1"; /* Стрелка вверх */
  font-size: 0.75em;
}

th.desc::after {
  content: " ▼1"; /* Стрелка вниз */
  font-size: 0.75em;
}

th.asc2::after {
  content: " ▲2"; /* Стрелка вверх */
  font-size: 0.75em;
}

th.desc2::after {
  content: " ▼2"; /* Стрелка вниз */
  font-size: 0.75em;
}


svg text {
  font: 8px Verdana;
}

svg path,
line {
  fill: none;
  width: 1px;
}